$first_main_color: #243f2f;
$second_main_color: #924657;
$font_stroke: #fff;
$card_background: #fff;
$slider_color:  #fff;
$buttons_font_color: #fff;
$background_gradient: linear-gradient(#fabc92 50%, #7c9988);
$overlay_background: rgba(252, 240, 228, 0.7);
$scroll_shadow_color: rgba(0,0,0,0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: 'Andika', sans-serif;
}

:root {
  font-size: 10px;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1.5rem;
  box-shadow: inset 0 0 0.5rem $scroll_shadow_color;
}

body {
  height: 100vh;
  background-image: url('../assets/img/body_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 136rem;
  padding: 0 4rem;
  margin: 0 auto;
}

.header_wrapper {
  width: 87%;
  margin: 0 auto;
  padding-top: 3rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {

  &_list {
    position: fixed;
    padding-top: 11.5rem;
    width: 40rem;
    height: 100%;
    top: 0;
    left: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;

    line-height: 7rem;
    background: $background_gradient;
    transform: translateX(-100%);
    transition: transform .5s ease;
    z-index: 1;
    cursor: pointer;
  }

  &_category_icon {
    margin-right: 2rem;
    width: 4.8rem;
    height: 4.8rem;
  }

  &_list_category {
    width: 27rem;
    display: flex;
    align-items: center;

    transition: all .3s ease;
    color: $first_main_color;

    &:hover {
      transform: scale(1.1);
      background-color: rgba(36, 63, 47, 0.4);
      border-radius: 2rem;
    }

  }

  &_hamburger {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 2;
    background: url('../assets/icons/menu.svg');
    background-size: contain;
    transition: transform .5s ease;
  }

   &_hamburger.close {
    transform: rotate(90deg);
    transition: transform .5s ease;
  }
}

.active_link {
  transform: scale(1.1);
  background-color: rgba(36, 63, 47, 0.4);
  border-radius: 2rem;
}

.logo {
  text-align: center;
  font-size: 7rem;
  color: $first_main_color;
  -webkit-text-stroke: 1px $font_stroke;
}

.categories_cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3rem;
  perspective: 3000px;
}

.category_card {
  width: 290px;
  height: 290px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 3rem;
  background: $card_background;
  cursor: pointer;

  h3 {
    margin-top: 1rem;
  }

  &:nth-child(-n+4) {
    margin-bottom: 2rem;
  }

  &:hover {
    background: $background_gradient;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }  
}

// cards by Category
.card {
  position: relative;
  width: 290px;
  height: 290px;
  border-radius: 3rem;
  display: flex;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;

  &:nth-child(-n+4) {
    margin-bottom: 2rem;
  }

  &_correct {
    pointer-events: none;
    opacity: 0.7;
    filter: blur(1px);
  }
}

.card.flipped {
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  position: absolute;
  width: 100%;
  height: 100%;

  text-align: center;
  border-radius: 3rem;
  background: $card_background;
  backface-visibility: hidden;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.front:hover {
  background: $background_gradient;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
};

.back {
  background: $card_background;
  transform: rotateY(180deg);
}

.card_image_container {
  display: flex;
  padding-top: 1rem;
  width: 80%;
  height: 80%;
}

.card_image_container.game_mode {
  padding-top: 0;
  width: 100%;
  height: 100%;
}

.card_image {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.card_title {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  flex: 1;
}

.card_content {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip_card {
  width: 25px;
  height: 25px;
  background: url('../assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.game_content {
  padding-top: 2rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.game_button {
  padding: 1rem 2.5rem;
  text-align: center;
  border-radius: 2rem;
  font-size: 2rem;
  color: $buttons_font_color;
  background-color: $second_main_color;
  visibility: hidden;
  cursor: none;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
}

.game_button.game_mode {
  visibility: visible;
  cursor: pointer;
}

.game_answers {
  display: flex;
  align-items: center;
}

.game_answers > img {
  display: inline-block;
  width: 5rem;
  height: 5rem;
}

.repeat_sound {
  padding: 2rem 2.5rem;
  border-radius: 2rem;
  background-color: $second_main_color;
  background-image: url('../assets/icons/repeat.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
}

.overlay_win,
.overlay_fail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $overlay_background;
 

  &_img {
    width: 30rem;
    height: 27rem;
  }

  p {
    font-size: 4rem;
    color: $first_main_color;
  } 
}

// switch train/game mode
.switch_mode {
  position: relative;
  display: inline-block;
  width: 12rem;
  height: 4rem;

  input {
    display:none;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: $first_main_color;
  -webkit-transition: .4s;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 3rem;
    width: 3rem;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: $slider_color;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: $second_main_color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $first_main_color;
}

input:checked + .slider:before {
  transform: translateX(8rem);
}

.play {
  display: none;
}

.train,
.play {
  color: $buttons_font_color;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 48%;
  left: 65%;
  font-size: 2rem;
}

input:checked + .slider .play {
  display: block;
  left: 35%;
}

input:checked + .slider .train {
  display: none;
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.footer {

  &_wrapper {
    padding-top: 4rem;
    margin: 0 auto;
    width: 87%;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }

  &_link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: $first_main_color;
  }

  &_logo {
    display: inline-block;
    width: 7rem;
    height: 3rem;
    background: url('../assets/icons/rs_school_js.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  i {
    margin-right: 1rem;
  }
}

.statistic {

  &_overlay_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $overlay_background;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_overlay {
    width: 70%;
    height: 70%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 5;
    border-radius: 0.5rem;
    background-color: rgba(36, 63, 47, 0.9);
    color: white;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.5);
  }

  &_button {
    position: relative;
    margin-left: 2.2rem;
    padding-top: 0.3rem;
    width: 8rem;
    height: 6rem;

    background-color: $first_main_color;
    text-align: center;
    font-size: 2rem;
    color: $buttons_font_color;
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &_overlay_header_content {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &_reset {
    margin-left: 1.5rem;
    padding: 0.5rem 2.5rem;
    width: 12rem;
    cursor: pointer;
    font-size: 2.5rem;
    text-align: center;
    background-color: $overlay_background;
    border-radius: 2rem;

    &:hover {
      transform: scale(1.03);
    }
  }

  &_overlay_header {
    padding-top: 0.5rem;
    font-size: 3rem;
    text-align: center;
  }

  &_data_wrapper {
    padding-left: 2.5rem;
    padding-top: 0.5rem;
    width: 100%;
  }

  &_data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_row_header {
    width: 100%;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 2.8rem;
  }

  &_row_word {
    width: 100%;
    padding: 10px 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-size: 2.2rem;

    &:hover {
      background-color: rgba(233, 233, 233, 0.3);
    }
  }
}

.table-head {
  &:hover {
    cursor: pointer;
    background-color: rgba(233, 233, 233, 0.3);
  }
}

.statistic_button.open_stats {
  background: url('../assets/icons/stats.svg') no-repeat;
  background-position: center;
  background-size: 60%;
  background-color: $first_main_color;
}

.close_stats.statistic_button {
  background: url('../assets/icons/close.svg') no-repeat;
  background-position: center;
  background-size: 40%;
  background-color: $first_main_color;
  z-index: 999;
}

[data-method="asc"]:after {
  content: '\2BC6';
}

[data-method="desc"]:after {
  content: '\2BC5';
}

[data-active="true"]:after {
  color: #fabc92;
}


@media screen and (max-height: 768px) {
  body {
    height: 100%;
  }
}


@media screen and (max-width: 1366px) {

  .wrapper {
    max-width: 128rem;
    padding: 0 4rem;
    margin: 0 auto;
  }

  .menu {

    &_list {
      padding-top: 11.2rem;
      width: 36rem;
      font-size: 3.5rem;
      line-height: 5.2rem;
    }
  
    &_category_icon {
      margin-right: 1.5rem;
      width: 4rem;
      height: 4rem;
    }
  }
  
  .category_card {
    width: 250px;
    height: 250px;
  
    h3 {
      margin-top: 0.5rem;
    }
  }
  
  // cards by Category
  .card {
    position: relative;
    width: 250px;
    height: 250px;
  }
  
  .card_title {
    margin-top: 0.5rem;
    font-size: 2.2rem;
    flex: 1;
  }
  
  .flip_card {
    width: 23px;
    height: 23px;
  }
  
  .game_content {
    padding-top: 1rem;
    height: 5rem;
  }
  
  .game_button {
    padding: 0.5rem 1.5rem;
  }
  
  .game_answers > img {
    width: 4rem;
    height: 4rem;
  }
  
  .repeat_sound {
    padding: 2rem 2rem;
  }
  
  // switch train/game mode
  .switch_mode {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 3rem;
  
    input {
      display:none;
    }
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: $first_main_color;
    -webkit-transition: .4s;
    transition: .4s;
  
    &:before {
      position: absolute;
      content: "";
      height: 2.6rem;
      width: 2.6rem;
      left: 0.3rem;
      bottom: 0.2rem;
      background-color: $slider_color;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }
  
  input:checked + .slider {
    background-color: $second_main_color;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $first_main_color;
  }
  
  input:checked + .slider:before {
    transform: translateX(6.8rem);
  }
  
  .play {
    display: none;
  }
  
  .train,
  .play {
    color: $buttons_font_color;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 48%;
    left: 65%;
    font-size: 1.8rem;
  }
  
  input:checked + .slider .play {
    display: block;
    left: 35%;
  }
  
  input:checked + .slider .train {
    display: none;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 3rem;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .statistic {
  
    &_button {
      width: 6rem;
      height: 4rem;
    }
  
    &_overlay_header {
      font-size: 2.5rem;
    }
      
    &_row_header {
      padding: 0.5rem 0.5rem;
      font-size: 2.1rem;
    }
  
    &_row_word {
      padding: 0.5rem 0.5rem;
      font-size: 1.9rem;
    }
  }

  .footer {
    &_wrapper {
      padding-top: 2.5rem;
    }
  }
}

@media screen and (max-width: 1090px) {

  body {
    height: 100%;
  }

  .wrapper {
    max-width: 100rem;
    padding: 0 4.5rem;
    margin: 0 auto;
  }

  .statistic {
  
    &_button {
      width: 6rem;
      height: 4rem;
    }
    
    &_reset {
      padding: 0.5rem 2rem;
    }
  
    &_overlay_header {
      font-size: 2.2rem;
    }
  
    &_row_header {
      padding: 0.5rem 0.2rem;
      font-size: 1.6rem;
    }
  
    &_row_word {
      padding: 0.5rem 0.2rem;
      font-size: 1.5rem;
    }
  }

}

@media screen and (max-width: 880px) {

  body {
    height: 100%;
  }

  .wrapper {
    max-width: 64rem;
    padding: 0 4rem;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 5rem;
    color: $first_main_color;
    -webkit-text-stroke: 1px $font_stroke;
  }
  
  .category_card {
   
    &:nth-child(-n+6) {
      margin-bottom: 2rem;
    }

  }
  
  // cards by Category
  .card {

    &:nth-child(-n+6) {
      margin-bottom: 2rem;
    }

  }

  .statistic {

    &_reset {
      padding: 0.5rem 1rem;
      width: 10rem;
      font-size: 1.8rem;
    }
  
    &_overlay_header {
      font-size: 1.8rem;
    }
    
    &_data_wrapper {
      padding-left: 0rem;
    }
  
    &_row_header {
      font-size: 1.2rem;
    }
  
    &_row_word {
      font-size: 1.2rem;
    }
  }

}

@media screen and (max-width: 600px) {

  body {
    height: 100%;
  }

  .wrapper {
    max-width: 32rem;
    padding: 0 0;
    margin: 0 auto;
  }
  
  .header_wrapper {
    padding-top: 3rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .functionality_buttons {
    width: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
  
    &_list {
      width: 100%;
      font-size: 3.7rem;
    }
  
    &_category_icon {
      margin-right: 2rem;
      width: 3.5rem;
      height: 3.5rem;
    }
  
    &_hamburger {
      width: 30px;
      height: 30px;
    }
  }
  
  .logo {
    font-size: 3.5rem;
    color: $first_main_color;
    -webkit-text-stroke: 1px $font_stroke;
  }

  .active_link {
    transform: scale(1.1);
    background-color: rgba(36, 63, 47, 0.4);
    border-radius: 2rem;
  }
  
  .categories_cards {
    justify-content: center;
  }
  
  .category_card {
    width: 300px;
    height: 300px;
  
    &:nth-child(-n+7) {
      margin-bottom: 2rem;
    }
  }
  
  // cards by Category
  .card {
    width: 300px;
    height: 300px;

    &:nth-child(-n+7) {
      margin-bottom: 2rem;
    }
  }
  
  .card_image_container {
    display: flex;
    padding-top: 1rem;
    width: 80%;
    height: 80%;
  }
  
  .game_content {
    padding-top: 0;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .game_button {
    padding: 0rem 0rem;
    width: 16rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 2rem;
    color: $buttons_font_color;
    background-color: $second_main_color;
    visibility: hidden;
    cursor: none;
  
    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease-in-out;
    }
  }
  
  .game_button.game_mode {
    visibility: visible;
    cursor: pointer;
  }
  
  .game_answers {
    margin-top: 1.5rem;
  }
  
  .game_answers > img {
    width: 4rem;
    height: 4rem;
  }
  
  .repeat_sound {
    width: 5rem;
    border-radius: 2rem;
    background-color: $second_main_color;
    background-image: url('../assets/icons/repeat.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.02);
      transition: transform 0.3s ease-in-out;
    }
  }
  
  .overlay_win,
  .overlay_fail {  
  
    p {
      font-size: 3rem;
    } 
  }
  
  .statistic {
  
    &_overlay {
      margin-top: 11rem;
      width: 95%;
      height: 70%;
    }
  
    &_button {
      width: 6rem;
      height: 4rem;
    }
  
    &_reset {
      padding: 0.5rem 1rem;
      width: 7rem;
      font-size: 1.5rem;
    }
  
    &_overlay_header {
      padding-top: 0.5rem;
      font-size: 1.5rem;
    }
  
  
    &_row_header {
      font-size: 0.9rem;
    }
  
    &_row_word {
      font-size: 0.9rem;
    }
  }
}
